@import "~antd/dist/antd.css";

// $primary: #284167;
$primary: #FE5B54;

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  .ant-pagination-item{
    line-height: 15px;
  }
  .ant-row {
    row-gap: 15px !important;
  }
}


.text--secondary {
  font-size: 14px;
  color: grey;
}

.list-item {
  display: flex;
  justify-content:flex-start;  
}
.list-item:hover {
  .icons {
    transition: all ease 0.5s;
    opacity: 1;
  }
}

.icons {
  display: flex;
  gap: 5px;
  opacity: 0;

}
.settingIcon {
  cursor: pointer;
}

.deleteIcon {
  color: rgb(245, 0, 0);
  cursor: pointer;

}

.list .ant-col {
  height: 100%;
}
.list .ant-list-item {
  padding: 5px 0;
}


.loginForm {
    box-shadow: 0px 0px 20px 0px lightgray;
    width: 400px;
    height: 200px;
    padding: 30px;

    display: flex;
    gap: 10px;
    flex-direction: column;

    margin-top: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 300px;
}

.btnSubmit {
    max-width: 80px;
    margin: 25px 0 0 0;
}